.actions {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .coupon {
    @screen lg {
      display: flex;
      align-items: center;
      flex: 1 0 40%;

      input {
        max-width: 16rem;
        margin: 0 2rem;
      }
    }
  }
}

.cart-collaterals {
  display: flex;

  .cart_totals {
    margin-left: auto;
  }
}

.cart-subtotal {
  text-align: left;
}
