@use 'abstracts/variables' as av;

table.cart {
  border-collapse: collapse;
  width: 100%;
  thead {
    border-bottom: 1px solid av.$black;
  }

  .product-remove {
    color: av.$red;
  }

  input[type="number"] {
    border: 1px solid av.$primary;
    appearance: textfield;
    display: block;
    border-radius: 4px;
    padding: .25rem .5rem;
    margin: 2rem 0;
    text-align: center;
  }
}

form.cart-form {
  .actions {
    display: flex;
  }
}
