@use 'abstracts/variables' as av;

table.cart {
  border-collapse: collapse;
  width: 100%;
  thead {
    border-bottom: 1px solid av.$black;
  }

  .product-remove {
    color: av.$red;
  }
}

form.cart-form {
  .actions {
    display: flex;
  }
}
