@use 'assets/styles/abstracts/variables';
@use 'assets/styles/abstracts/templates' as *;
@use 'sass:color';

.product-card {
  transition: box-shadow 225ms ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  & img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: variables.$white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  form {
    margin-top: auto;
  }

  &:hover {
    @extend %shaded-sm;
  }
  @extend %shaded;
}

.product-card--categories {
  > a {
    @apply inline-block py-2;
    color: variables.$primary;
    transition: color 225ms ease-in;

    &:hover {
      color: color.scale(variables.$primary, $lightness: -18.75%);
    }
  }
}
