@use 'abstracts/variables' as v;

.shopping-cart-button {
  border: 1px solid v.$primary;
  border-radius: 4px;
  position: relative;

  & .bulb {
    position: absolute;
    bottom: -.5rem;
    left: -.5rem;
    background: v.$primary;
    color: v.$white;
    border-radius: 50%;
    font-size: 70%;
    padding: .3rem .5rem;
    line-height: 1;

  }
}
