.search-form {
  display: flex;
  flex-grow: 1;
  position: relative;

  .btn.search-icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }

  #autoComplete {
    margin-bottom: 0;
  }
}
