body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merienda', cursive;
}

h1,
.is-h1 {
  font-size: 2rem;
}

h2,
.is-h2 {
  font-size: 1.8rem;
}

h3,
.is-h3 {
  font-size: 1.5rem;
}

label {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  text-transform: uppercase;
}
